## Data wrangling

### Gatheing Data

In [1]:
# prerequisite package imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from matplotlib.pyplot import xticks

%matplotlib inline

In [2]:
df = pd.read_csv("prosperLoanData.csv")
df.head(2)

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.158,0.138,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.092,0.082,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1

In [3]:
df.columns

Index(['ListingKey', 'ListingNumber', 'ListingCreationDate', 'CreditGrade',
       'Term', 'LoanStatus', 'ClosedDate', 'BorrowerAPR', 'BorrowerRate',
       'LenderYield', 'EstimatedEffectiveYield', 'EstimatedLoss',
       'EstimatedReturn', 'ProsperRating (numeric)', 'ProsperRating (Alpha)',
       'ProsperScore', 'ListingCategory (numeric)', 'BorrowerState',
       'Occupation', 'EmploymentStatus', 'EmploymentStatusDuration',
       'IsBorrowerHomeowner', 'CurrentlyInGroup', 'GroupKey',
       'DateCreditPulled', 'CreditScoreRangeLower', 'CreditScoreRangeUpper',
       'FirstRecordedCreditLine', 'CurrentCreditLines', 'OpenCreditLines',
       'TotalCreditLinespast7years', 'OpenRevolvingAccounts',
       'OpenRevolvingMonthlyPayment', 'InquiriesLast6Months', 'TotalInquiries',
       'CurrentDelinquencies', 'AmountDelinquent', 'DelinquenciesLast7Years',
       'PublicRecordsLast10Years', 'PublicRecordsLast12Months',
       'RevolvingCreditBalance', 'BankcardUtilization',
       'AvailableBankcardCredit', 'TotalTrades',
       'TradesNeverDelinquent (percentage)', 'TradesOpenedLast6Months',
       'DebtToIncomeRatio', 'IncomeRange', 'IncomeVerifiable',
       'StatedMonthlyIncome', 'LoanKey', 'TotalProsperLoans',
       'TotalProsperPaymentsBilled', 'OnTimeProsperPayments',
       'ProsperPaymentsLessThanOneMonthLate',
       'ProsperPaymentsOneMonthPlusLate', 'ProsperPrincipalBorrowed',
       'ProsperPrincipalOutstanding', 'ScorexChangeAtTimeOfListing',
       'LoanCurrentDaysDelinquent', 'LoanFirstDefaultedCycleNumber',
       'LoanMonthsSinceOrigination', 'LoanNumber', 'LoanOriginalAmount',
       'LoanOriginationDate', 'LoanOriginationQuarter', 'MemberKey',
       'MonthlyLoanPayment', 'LP_CustomerPayments',
       'LP_CustomerPrincipalPayments', 'LP_InterestandFees', 'LP_ServiceFees',
       'LP_CollectionFees', 'LP_GrossPrincipalLoss', 'LP_NetPrincipalLoss',
       'LP_NonPrincipalRecoverypayments', 'PercentFunded', 'Recommendations',
       'InvestmentFromFriendsCount', 'InvestmentFromFriendsAmount',
       'Investors'],
      dtype='object')

In [4]:
# Since there are lot of columns in our dataset, i will select only those dataset that is needed to answer my questions
cols = ['Term' , 
        'LoanStatus', 
        'EstimatedEffectiveYield' ,  
        'BorrowerAPR' , 
        'BorrowerRate' , 
        'ProsperRating (numeric)',
        'ProsperRating (Alpha)',
        'ProsperScore',                     
        'ListingCategory (numeric)', 
        'EmploymentStatus',
        'Occupation', 
        'EmploymentStatusDuration', 
        'IsBorrowerHomeowner', 
        'IncomeVerifiable', 
        'StatedMonthlyIncome', 
        'MonthlyLoanPayment',
        'Recommendations', 
        'DebtToIncomeRatio',
        'LoanOriginalAmount' ,
        'PercentFunded',
        'IncomeRange',
        'Investors',
        'BorrowerState']

In [12]:
loan_df = df[cols]
loan_df.head(2)

,Term,LoanStatus,EstimatedEffectiveYield,BorrowerAPR,BorrowerRate,ProsperRating (numeric),ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),EmploymentStatus,...,IncomeVerifiable,StatedMonthlyIncome,MonthlyLoanPayment,Recommendations,DebtToIncomeRatio,LoanOriginalAmount,PercentFunded,IncomeRange,Investors,BorrowerState
0,36,Completed,NaN,0.16516,0.158,NaN,NaN,NaN,0,Self-employed,...,True,3083.333333,330.43,0,0.17,9425,1.0,"$25,000-49,999",258,CO
1,36,Current,0.0796,0.12016,0.092,6.0,A,7.0,2,Employed,...,True,6125.000000,318.93,0,0.18,10000,1.0,"$50,000-74,999",1,CO

In [14]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 23 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       113937 non-null  int64
 1   LoanStatus                 113937 non-null  object
 2   EstimatedEffectiveYield    84853 non-null   float64
 3   BorrowerAPR                113912 non-null  float64
 4   BorrowerRate               113937 non-null  float64
 5   ProsperRating (numeric)    84853 non-null   float64
 6   ProsperRating (Alpha)      84853 non-null   object
 7   ProsperScore               84853 non-null   float64
 8   ListingCategory (numeric)  113937 non-null  int64
 9   EmploymentStatus           111682 non-null  object
 10  Occupation                 110349 non-null  object
 11  EmploymentStatusDuration   106312 non-null  float64
 12  IsBorrowerHomeowner        113937 non-null  bool
 13  IncomeVerifiable           113937 non-null  bool
 14  StatedMonthlyIncome        113937 non-null  float64
 15  MonthlyLoanPayment         113937 non-null  float64
 16  Recommendations            113937 non-null  int64
 17  DebtToIncomeRatio          105383 non-null  float64
 18  LoanOriginalAmount         113937 non-null  int64
 19  PercentFunded              113937 non-null  float64
 20  IncomeRange                113937 non-null  object
 21  Investors                  113937 non-null  int64
 22  BorrowerState              108422 non-null  object
dtypes: bool(2), float64(10), int64(5), object(6)
memory usage: 18.5+ MB

In [16]:
# changing the some columns names
loan_df.rename(columns={'ProsperRating (Alpha)': 'ProsperRating_Alpha', 
                        'ProsperRating (numeric)': 'ProsperRating_Numeric',
                        'ListingCategory (numeric)' : 'ListingCategory_Numeric'
                       }, inplace=True)

In [17]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Term                      113937 non-null  int64
 1   LoanStatus                113937 non-null  object
 2   EstimatedEffectiveYield   84853 non-null   float64
 3   BorrowerAPR               113912 non-null  float64
 4   BorrowerRate              113937 non-null  float64
 5   ProsperRating_Numeric     84853 non-null   float64
 6   ProsperRating_Alpha       84853 non-null   object
 7   ProsperScore              84853 non-null   float64
 8   ListingCategory_Numeric   113937 non-null  int64
 9   EmploymentStatus          111682 non-null  object
 10  Occupation                110349 non-null  object
 11  EmploymentStatusDuration  106312 non-null  float64
 12  IsBorrowerHomeowner       113937 non-null  bool
 13  IncomeVerifiable          113937 non-null  bool
 14  StatedMonthlyIncome       113937 non-null  float64
 15  MonthlyLoanPayment        113937 non-null  float64
 16  Recommendations           113937 non-null  int64
 17  DebtToIncomeRatio         105383 non-null  float64
 18  LoanOriginalAmount        113937 non-null  int64
 19  PercentFunded             113937 non-null  float64
 20  IncomeRange               113937 non-null  object
 21  Investors                 113937 non-null  int64
 22  BorrowerState             108422 non-null  object
dtypes: bool(2), float64(10), int64(5), object(6)
memory usage: 18.5+ MB

In [7]:
loan_df.isnull().sum()

Term                             0
LoanStatus                       0
EstimatedEffectiveYield      29084
BorrowerAPR                     25
BorrowerRate                     0
ProsperRating (numeric)      29084
ProsperRating (Alpha)        29084
ProsperScore                 29084
ListingCategory (numeric)        0
EmploymentStatus              2255
Occupation                    3588
EmploymentStatusDuration      7625
IsBorrowerHomeowner              0
IncomeVerifiable                 0
StatedMonthlyIncome              0
MonthlyLoanPayment               0
Recommendations                  0
DebtToIncomeRatio             8554
LoanOriginalAmount               0
PercentFunded                    0
IncomeRange                      0
Investors                        0
BorrowerState                 5515
dtype: int64

In [8]:
# As this project is more focused on visulization , for simplicity i am going to clean all null rows from the above data set 
loan_df = loan_df.dropna()

In [23]:
#checking for null values after cleaning
loan_df.isnull().sum()

Term                            0
LoanStatus                      0
EstimatedEffectiveYield     29084
BorrowerAPR                    25
BorrowerRate                    0
ProsperRating_Numeric       29084
ProsperRating_Alpha         29084
ProsperScore                29084
ListingCategory_Numeric         0
EmploymentStatus             2255
Occupation                   3588
EmploymentStatusDuration     7625
IsBorrowerHomeowner             0
IncomeVerifiable                0
StatedMonthlyIncome             0
MonthlyLoanPayment              0
Recommendations                 0
DebtToIncomeRatio            8554
LoanOriginalAmount              0
PercentFunded                   0
IncomeRange                     0
Investors                       0
BorrowerState                5515
dtype: int64

### Identifying categoralcal varibale that are in order data type  and changing to category data type if its not in cateory data type

In [51]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Term                      113937 non-null  category
 1   LoanStatus                113937 non-null  category
 2   EstimatedEffectiveYield   84853 non-null   float64
 3   BorrowerAPR               113912 non-null  float64
 4   BorrowerRate              113937 non-null  float64
 5   ProsperRating_Numeric     84853 non-null   float64
 6   ProsperRating_Alpha       84853 non-null   category
 7   ProsperScore              84853 non-null   float64
 8   ListingCategory_Numeric   113937 non-null  int64
 9   EmploymentStatus          111682 non-null  category
 10  Occupation                110349 non-null  category
 11  EmploymentStatusDuration  106312 non-null  float64
 12  IsBorrowerHomeowner       113937 non-null  bool
 13  IncomeVerifiable          113937 non-null  bool
 14  StatedMonthlyIncome       113937 non-null  float64
 15  MonthlyLoanPayment        113937 non-null  float64
 16  Recommendations           113937 non-null  int64
 17  DebtToIncomeRatio         105383 non-null  float64
 18  LoanOriginalAmount        113937 non-null  int64
 19  PercentFunded             113937 non-null  float64
 20  IncomeRange               113937 non-null  category
 21  Investors                 113937 non-null  int64
 22  BorrowerState             108422 non-null  category
dtypes: bool(2), category(7), float64(10), int64(4)
memory usage: 13.2 MB

#### 1. Term

In [25]:
loan_df["Term"].value_counts()

36    87778
60    24545
12     1614
Name: Term, dtype: int64

In [46]:
# since the term column is cateogorical , converting its data type from int to category
loan_df['Term'] = loan_df['Term'].astype('category')

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### 2. EmploymentStatus

In [34]:
loan_df["EmploymentStatus"].value_counts()

Employed         67322
Full-time        26355
Self-employed     6134
Not available     5347
Other             3806
Part-time         1088
Not employed       835
Retired            795
Name: EmploymentStatus, dtype: int64

In [35]:
loan_df['EmploymentStatus'] = loan_df['EmploymentStatus'].astype('category')

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#### 3. LoanStatus

In [27]:
loan_df["LoanStatus"].value_counts()

Current                   56576
Completed                 38074
Chargedoff                11992
Defaulted                  5018
Past Due (1-15 days)        806
Past Due (31-60 days)       363
Past Due (61-90 days)       313
Past Due (91-120 days)      304
Past Due (16-30 days)       265
FinalPaymentInProgress      205
Past Due (>120 days)         16
Cancelled                     5
Name: LoanStatus, dtype: int64

In [29]:
loan_df['LoanStatus'] = loan_df['LoanStatus'].astype('category')

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#### 4. IncomeRange

In [37]:
loan_df["IncomeRange"].value_counts()

$25,000-49,999    32192
$50,000-74,999    31050
$100,000+         17337
$75,000-99,999    16916
Not displayed      7741
$1-24,999          7274
Not employed        806
$0                  621
Name: IncomeRange, dtype: int64

In [38]:
loan_df['IncomeRange'] = loan_df['IncomeRange'].astype('category')

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#### 5. ProsperRating_Alpha

In [40]:
loan_df["ProsperRating_Alpha"].value_counts()

C     18345
B     15581
A     14551
D     14274
E      9795
HR     6935
AA     5372
Name: ProsperRating_Alpha, dtype: int64

In [42]:
loan_df['ProsperRating_Alpha'] = loan_df['ProsperRating_Alpha'].astype('category')

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#### 6. Occupation

In [45]:
loan_df["Occupation"].value_counts()

Other                          28617
Professional                   13628
Computer Programmer             4478
Executive                       4311
Teacher                         3759
                               ...
Dentist                           68
Student - College Freshman        41
Student - Community College       28
Judge                             22
Student - Technical School        16
Name: Occupation, Length: 67, dtype: int64

In [47]:
loan_df['Occupation'] = loan_df['Occupation'].astype('category')

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#### 7. BorrowerState

In [48]:
loan_df["BorrowerState"].value_counts()

CA    14717
TX     6842
NY     6729
FL     6720
IL     5921
GA     5008
OH     4197
MI     3593
VA     3278
NJ     3097
NC     3084
WA     3048
PA     2972
MD     2821
MO     2615
MN     2318
MA     2242
CO     2210
IN     2078
AZ     1901
WI     1842
OR     1817
TN     1737
AL     1679
CT     1627
SC     1122
NV     1090
KS     1062
KY      983
OK      971
LA      954
UT      877
AR      855
MS      787
NE      674
ID      599
NH      551
NM      472
RI      435
HI      409
WV      391
DC      382
MT      330
DE      300
VT      207
AK      200
SD      189
IA      186
WY      150
ME      101
ND       52
Name: BorrowerState, dtype: int64

In [49]:
loan_df['BorrowerState'] = loan_df['BorrowerState'].astype('category')

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
#checking weather the data type is converted or not 
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Term                      113937 non-null  category
 1   LoanStatus                113937 non-null  category
 2   EstimatedEffectiveYield   84853 non-null   float64
 3   BorrowerAPR               113912 non-null  float64
 4   BorrowerRate              113937 non-null  float64
 5   ProsperRating_Numeric     84853 non-null   float64
 6   ProsperRating_Alpha       84853 non-null   category
 7   ProsperScore              84853 non-null   float64
 8   ListingCategory_Numeric   113937 non-null  int64
 9   EmploymentStatus          111682 non-null  category
 10  Occupation                110349 non-null  category
 11  EmploymentStatusDuration  106312 non-null  float64
 12  IsBorrowerHomeowner       113937 non-null  bool
 13  IncomeVerifiable          113937 non-null  bool
 14  StatedMonthlyIncome       113937 non-null  float64
 15  MonthlyLoanPayment        113937 non-null  float64
 16  Recommendations           113937 non-null  int64
 17  DebtToIncomeRatio         105383 non-null  float64
 18  LoanOriginalAmount        113937 non-null  int64
 19  PercentFunded             113937 non-null  float64
 20  IncomeRange               113937 non-null  category
 21  Investors                 113937 non-null  int64
 22  BorrowerState             108422 non-null  category
dtypes: bool(2), category(7), float64(10), int64(4)
memory usage: 13.2 MB

In [53]:
loan_df.head()

,Term,LoanStatus,EstimatedEffectiveYield,BorrowerAPR,BorrowerRate,ProsperRating_Numeric,ProsperRating_Alpha,ProsperScore,ListingCategory_Numeric,EmploymentStatus,...,IncomeVerifiable,StatedMonthlyIncome,MonthlyLoanPayment,Recommendations,DebtToIncomeRatio,LoanOriginalAmount,PercentFunded,IncomeRange,Investors,BorrowerState
0,36,Completed,NaN,0.16516,0.1580,NaN,NaN,NaN,0,Self-employed,...,True,3083.333333,330.43,0,0.17,9425,1.0,"$25,000-49,999",258,CO
1,36,Current,0.07960,0.12016,0.0920,6.0,A,7.0,2,Employed,...,True,6125.000000,318.93,0,0.18,10000,1.0,"$50,000-74,999",1,CO
2,36,Completed,NaN,0.28269,0.2750,NaN,NaN,NaN,0,Not available,...,True,2083.333333,123.32,0,0.06,3001,1.0,Not displayed,41,GA
3,36,Current,0.08490,0.12528,0.0974,6.0,A,9.0,16,Employed,...,True,2875.000000,321.45,0,0.15,10000,1.0,"$25,000-49,999",158,GA
4,36,Current,0.18316,0.24614,0.2085,3.0,D,4.0,2,Employed,...,True,9583.333333,563.97,0,0.26,15000,1.0,"$100,000+",20,MN

### And this is final cleaned dataset for our project

## Visulization